{{!< default}}

<div class="page-width">
    {{#post}}
        {{> "breadcrumbs"}}
        
        <header class="post-header">
            <h1 class="post-title">{{title}}</h1>
        </header>
        <section class="post-content">
            {{content}}
        </section>

        {{#prev_post in="primary_tag"}}
		    <a href="{{url}}">{{title}}</a>
        {{/prev_post}}

        {{#next_post in="primary_tag"}}
            <a href="{{url}}">{{title}}</a>
        {{/next_post}}
    {{/post}}
</div>